h1{
    color: #5eaaa8;
}
body{
    background-color: #cffffe;
}
h3{
    color: #5eaaa8;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}